.xp-checkbox {
  display: inline-flex;
  min-width: 19px;
  min-height: 15px;
  align-items: center;
}

.xp-checkbox > input[type="checkbox"] + label {
  display: inline-block;
  min-height: 13px;
  cursor: pointer;
}

.xp-checkbox > input[type="checkbox"]:disabled + label {
  cursor: default;
}

.xp-checkbox--label-hidden > label {
  width: 0;
  overflow: visible;
}

.xp-checkbox > input[type="checkbox"]:indeterminate + label::after {
  position: absolute;
  top: 6px;
  left: -15px;
  display: block;
  width: 7px;
  height: 2px;
  background: #22a122;
  content: "";
}

.xp-checkbox > input[type="checkbox"]:disabled:indeterminate + label::after {
  background: #cac8bb;
}
